<!DOCTYPE html>
<html th:fragment="layout(main)" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
    th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/bootstrap/css/app.css"
    th:href="@{/bootstrap/css/app.css}">
    <script src="../../static/bootstrap/js/bootstrap.min.js"
    th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
    <section id="headSection">
        <div class="container">
            <a th:href="@{/affable-bean/client/}"><header>
                <img th:src="@{/bootstrap/images/logo.png}" id="logo" alt="">
                <img th:src="@{/bootstrap/images/logoText.png}" id="logoText" alt="">
                <img th:src="@{/bootstrap/images/stalk.png}" id="stalk" alt="">
            </header>
            </a>
        </div>

    </section>

    <div th:replace="${main}"></div>
</body>
</html>